body{
  margin: 0;
  font-family: Arial, sans-serif;
}
header{
  background-color: purple;
  padding: 1em;
  color: white;
  text-align: center;
}
button{
  background-image: radial-gradient(#bd8763, #cc5200);
  width: 70%;
  height: 100%;
  padding: 25px;
  border-radius: 25px;
  font-size: 24pt;
  border: solid #cc5200;
  color: white;
}
.box{
  margin: left: auto;
  margin: right: auto;
  text-align:center;
  padding: 50px;
}
section{
  padding: 25px;
}
h3{
  font-size: 3vw;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 25px;
}
